*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    display: grid;
}

body {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(80, 87, 85));
    font-family: sans-serif;
    color: white;
}

.location,
.temperature {
    height: auto;
    width: 50%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.temperature-description {
    color: white;
    height: auto;
}
.temperature {
    flex-direction: column;
    color: white;
    margin-left: 15px;
    margin-bottom: 30px;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
}

.degree-section span {
    font-size: 20px;
    color: white;
}
.degree-section h2 {
    font-size: 40px;
}

.weather-icon {
    filter: invert(100%);
    margin: 0;
}
.clock {
    margin: auto;
    height: auto;
    text-align: justify;
    font-size: 2rem;
    color: white;
}
.notesapp {
    margin-top: 50px;
}

.notes,
.noMatches {
    max-width: 200px;
    max-height: 100px;
}

.form-group:required {
    max-width: 200px;
}